main{
    #Benefits{
        background-color: #F4F1F8;
        padding: 50px 0px;
        .section-title {
            @extend %section-title;
          }
        h2{
            span{
                color: $primary-color;
            }
        }
        p{
            color: grey;
        }
        .card{
            height: 300px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            img{
                margin: 15px 0;
                width: 70px;
            }
            &:hover {
                transform: translateY(-5px); 
              }
        }
    }
}